
<app-navbar> </app-navbar>

<div class="container" fxLayout="row" style="padding-top: 4rem;">

    <div fxFlex="20%" style="margin: 1rem;">
        <h2>Projets</h2>

        <mat-selection-list #projetChoisi  [multiple]="false" >
            <mat-list-option *ngFor="let projet of ProjectList" [value]="projet" (click)="loadCurrentProject(projet)">
              {{projet.name}}
            </mat-list-option>
        </mat-selection-list>

    </div>

    <div fxFlex="50%">
        <mat-card>
            <mat-card-content>
                
                <mat-form-field class="full-width">
                    <input matInput id="name" [(ngModel)]='name' placeholder="Nom" autocomplete="Nom du projet" [value]="CurrentProject.name">        
                </mat-form-field>
        
                <mat-form-field class="full-width">
                    <input matInput id="workLoad" [(ngModel)]='workLoad' placeholder="WorkLoad" autocomplete="Charge de travail" [value]="CurrentProject.workLoad">
                </mat-form-field>
                

                <mat-form-field appearance="fill">
                    <mat-label>Client</mat-label>
                    <mat-select [(value)]="idClient" >
                      <mat-option *ngFor="let company of CompanyList" [value]="company.id">
                        {{company.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <br>
                  <mat-form-field appearance="fill">
                    <mat-label>Manager</mat-label>
                    <mat-select [(value)]="idManager" >
                      <mat-option *ngFor="let manager of ManagerList" [value]="manager.id">
                        {{manager.userName}} {{manager.userLastName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>


            </mat-card-content>
        
            <mat-card-actions class="login-actions">
                <button mat-button id="supprimer"  (click)="supprimer()">Supprimer</button>
                <button mat-raised-button color="primary" id="sauvegarder" (click)="sauvegarder()" type="button">Sauvegarder</button>
            </mat-card-actions>
        
        </mat-card>
    </div>

    <div fxFlex="20%">
        <button style="margin: 1rem;" mat-raised-button color="primary" id="userBack" [routerLink]="['/admin2']" >Gestion des utilisateurs</button>
        <button style="margin: 1rem;" mat-raised-button color="primary" id="ajouterNouveauProjet" (click)="ajouterNouveauProjet()" >Ajouter nouveau projet</button>
    </div>
</div>