
<app-navbar> </app-navbar>

<div class="container" fxLayout="row" style="padding-top: 4rem;">

    <div fxFlex="20%" style="margin: 1rem;">
        <mat-label>Projets</mat-label>

        <mat-selection-list #projetChoisi [multiple]="false">
            <mat-list-option *ngFor="let projet of projets" [value]="projet.id">
              {{projet.name}}
            </mat-list-option>
        </mat-selection-list>

        <p>
            Option selected: {{projetChoisi.selectedOptions.selected[0]?.value}}
        </p>
    </div>

    <div fxFlex="50%">
        <mat-card>
            <mat-card-content>
                
                <mat-form-field class="full-width">
                    <input matInput id="name" placeholder="name" autocomplete="nom du projet">        
                </mat-form-field>
        
                <mat-form-field class="full-width">
                    <input matInput id="workLoad" placeholder="workLoad" autocomplete="charge de travail">
                </mat-form-field>
        
            </mat-card-content>
        
            <mat-card-actions class="login-actions">
                <button mat-button id="supprimer"  (click)="supprimer()">Supprimer</button>
                <button mat-raised-button color="primary" id="sauvegarder" (click)="sauvegarder()" type="button">Sauvegarder</button>
            </mat-card-actions>
        
        </mat-card>
    </div>

    <div fxFlex="20%">
        <button style="margin: 1rem;" mat-raised-button color="primary" id="retour" [routerLink]="['/manager']" >retour</button>
        <button style="margin: 1rem;" mat-raised-button color="primary" id="ajouterNouveauProjet" (click)="ajouterNouveauProjet()" >Ajouter nouveau projet</button>
    </div>
</div>