<div class="navbar-container">

    <!-- Top navbar -->
    <mat-toolbar class="navbar" color="primary">
  
      <a class="navbar-brand" (click)="Home()" matTooltip="Home">
        <h1>
          Projet POC
        </h1>
      </a>
  
      <span class="navbar-spacer"></span>
  
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
        <span fxShow fxHide.xs>
          {{ Nom }} {{ Prenom }}
        </span>
      </button>
      <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
  
        <a mat-menu-item [routerLink]="['/profile']">
          <mat-icon>person</mat-icon>
          <span>Mon compte</span>
        </a>
  
        <a mat-menu-item [routerLink]="['/login']" (click)=Deconnexion()>
          <mat-icon>exit_to_app</mat-icon>
          <span>Déconnexion</span>
        </a>
  
      </mat-menu>
  
    </mat-toolbar>
  
  </div>