<h2 mat-dialog-title>Ajouter du temps</h2>
<mat-dialog-content class="mat-typography">

  <mat-form-field appearance="fill">
    <mat-label>Projet</mat-label>
    <mat-select [(value)]="ProjetId">
      <mat-option *ngFor="let project of ProjectsList" [value]="project.id">
        {{project.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-form-field">
    <mat-label>Choissisez une date</mat-label>
    <input matInput [(ngModel)]="StartingDate" [ngModelOptions]="{standalone: true}" [matDatepicker]="datepicker">
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Annuler</button>
        <button mat-raised-button color="primary" matDatepickerApply>Valider</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Heure</mat-label>
    <mat-select [(value)]="heure">
      <mat-option *ngFor="let heure of Heure" [value]="heure.value">
        {{heure.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Minute</mat-label>
    <mat-select [(value)]="minute" >
      <mat-option *ngFor="let minute of Minute" [value]="minute.value">
        {{minute.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input id="Duree" [(ngModel)]="Duree" [ngModelOptions]="{standalone: true}" matInput placeholder="Durée en heures" type="text">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align=end>
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button [mat-dialog-close]="true" (click)="sendTime()" cdkFocusInitial>Enregistrer</button>
</mat-dialog-actions>
