<app-navbar> </app-navbar>


<div class="container" fxLayout="row" style="padding-top: 4rem;">

    <div fxFlex="20%" style="margin-top: 1rem;">
        <button style="margin: 1rem;" mat-raised-button color="primary" id="AddTime" (click)="AddTime()">Ajouter du temps</button>
        <button style="margin: 1rem;" mat-raised-button color="primary" id="GeneratePDF" (click)="GeneratePDF()" >Générer compte rendu</button>
    </div>

    <div fxFlex="80%">
        <app-calendar> </app-calendar>
    </div>
</div>